[Desktop Entry]
Name=Mario Typing
Comment=Mario Typing with Wine
Exec=/usr/bin/mario-typing
Icon=/usr/share/icons/Mario-Typing/mario-typing.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Education;