[Desktop Entry]
Name=Mario Typing
Comment=Mario Typing with Wine
Exec=/usr/bin/mario-typing.sh
Icon=/usr/share/icons/Mario-Typing/mario-typing.png
Encoding=UTF-8
Terminal=false
StartupNotify=true
Type=Application
Categories=Education;Application;
